.content {
  padding: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .sneakers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .content {
    min-height: 100vh;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    min-height: 100vh;
  }
}
