.content {
  padding: 40px;
}

.order {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 550px) {
  .order {
    justify-content: center;
  }

  .content {
    min-height: 100vh;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    min-height: 100vh;
  }
}
